# Virtual Environment
venv

*.db
response_headers
meta
pickled_meta
request_body
request_headers
response_body
response_headers

# Scrapy Save States
/.scrapy
/crawls
/crawler/.scrapy
/crawler/imdbcrawler/.scrapy
/crawler/imdbcrawler/crawls
/crawler/imdbcrawler/__pycache__
/crawler/imdbcrawler/spiders/__pycache__

/old-repo